<h1>TinyApp</h1> 
<% if (!user){ %>
    <form method="POST" action='/login' class='form-inline'>
        <!-- <label for="username">Your Username:</label> -->
        <a href="/login" class="btn btn-outline-info btn-sm">Login</a>&nbsp;&nbsp;
        <a href="/register" class="btn btn-outline-info btn-sm">Register</a>
    </form>
<% } else {%>
    <form method="POST" action='/logout' class='form-inline'>
        <label for="username"><h6>&nbsp;&nbsp;&nbsp;&nbsp;Hello&nbsp;<b><%= user['email'] %>!</b></h6></label>&nbsp;&nbsp;
        <button type="submit" class="btn btn-outline-info btn-sm">Logout</button>
    </form>
<% } %>

<br/>
