

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
  <% include partials/_header.ejs %>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <a href="#">Create your Tiny URL!</a>
    <h4>Saved URLs</h4>
    <% for (let i in urls){%> 
        <h6>shortURL: <%= i;%>, longURL: <%= urls[i];%></h6>
    <% } %>

</body>
</html>